# <FilesMatch "\.ht.*">
#        Deny from all
#    </FilesMatch>
AddDefaultCharset utf-8
Options -Indexes
#php_flag session.cookie_httponly on
AddType image/svg+xml svg svgz
AddEncoding gzip svgz
Header set X-Content-Type-Options nosniff
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

#RewriteCond %{QUERY_STRING} ^.*(union|%75%6E%69%6F%6E|&#117;&#110;&#105;&#111;&#110;).* [NC,OR]
#RewriteCond %{QUERY_STRING} ^.*(select|%73%65%6C%65%63%74|&#115;&#101;&#108;&#101;&#99;&#116;).* [NC]
RewriteRule . – [R=404,L,NC]
</IfModule>


#Redirecciono a una página de error, cuelaquier error
RewriteCond %{REQUEST_URI} ^/404/$ [OR]
RewriteCond %{REQUEST_URI} ^/500/$
RewriteRule ^(.*)$ /error/aviso.php [L]

Options +SymLinksIfOwnerMatch 
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /error/aviso.php [L]


